@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Fredoka+One|Handlee|Josefin+Slab|Sigmar+One|Viga&display=swap');
body {
  font-size: 40px;
  font-family: 'Fredoka One', cursive;
  color: #223996;
  background-image: url("images/background.png");
  background-size: 100% 100%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  margin-bottom:5%; 
}
.well {
  position: relative;
  width: 400px;
  height: 442px;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
}
button{
  font-size: 0.5em;
  background: rgba(228, 19, 19, 0.865);
  color: rgba(245, 237, 8, 0.897);
  font-family: "Fredoka One",'Indie Flower', cursive;
  font-size: 28px;
  cursor: pointer;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
button:active, button:focus, button:visited {
  outline: none;
}
button:hover {
  background: -moz-radial-gradient(white, rgba(248, 248, 3, 0.975));
  background: radial-gradient(white, rgba(247, 227, 0, 0.762));
  color: red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  cursor: pointer;
}
.choose-game p {
  padding: 40px 0px;
  font-family: 'Fredoka One','Indie Flower', cursive;
}
.players-names {
  display: none;
}
.players-names input {
  height: 45px;
    margin-bottom: 20px;
    font-size: 0.68em;
    font-family: 'Fredoka One','Indie Flower', cursive;
    color: #223996;

}
.players-names input:focus {
  outline: none;
  border: 2px solid rgb(19, 19, 19);
  
}
.players-names p {
  padding: 30px 0px;
}
.players-names ::-webkit-input-placeholder {
  font-size: 0.5em;
  
}
.players-names button {
  position: absolute;
  bottom: 100px;
  left: 150px;
}

.choose-sign {
  display: none;

  
}
.images{
  width: 150px;
  height: 160px;
}
.choose-sign p {
  padding: 50px 0px 30px 0px;
}
.choose-sign button {
  padding: 5px 15px;
  border-radius: 5px;
}
.choose-sign button:focus {
  outeline: none;
}

.fields {
  display: none;
}

.scores {
  font-size: 0.7em;
  color: rgb(191, 57, 57);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: none;
}
.player1-score {
  float: left;
  font-size: 22px;
}
.player2-score {
  float: right;;
  font-size:22px;
}
.message {
  position: absolute;
  background-image: linear-gradient(to bottom, transparent, transparent 35%, #ffffcc 35%, #ffffcc 65%, transparent 65%);
  opacity: 0.8;
  width: 100%;
  height: 100%;
  color: #333;
  display: none;
  z-index: 1;
}
.message p {
  padding: 45% 0;
}
.turn-info {
  position: absolute;
  font-size: 0.6em;
  font-weight: bold;
  color: rgb(201, 36, 44);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  top: -60px;
  display: none;
}
#reset {
  position: absolute;
  font-size: 20px;
  padding: 2px 2px;
  top: -60px;
  right: 0px;
}
table {
  margin: 0px auto;
  font-size: 1.8em;
  width: 100%;
}
td {
  width: 100px;
  height: 100px;
  background: white;
  cursor: pointer;
}
.td-clicked {
  background: -moz-radial-gradient(transparent, #7bd882);
}
td {
  border: 3px solid white;
}
.td-winning-color {
  background-color: rgba(241, 254, 1, 0.824);
}
button#playpausebtn{	
  background:url(https://image.flaticon.com/icons/svg/189/189889.svg) no-repeat;
	width:6%;
	height:30px;
  display: block;
    margin: auto;
}